<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=egde">
    <title>404: page not found</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="/" class="nav__item">home</a>
            <a href="/login" class="nav__item">login</a>
            <a href="/signup" class="nav__item">signup</a>
        </nav>
    </header>
    <main class="main">
        <div class="content">
            <h1 class="content__title">404</h1>
            <h3 class="content__subtitle">Page could not be found</h3>
            <p class="content__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eum at recusandae ab. Architecto, necessitatibus sapiente fugiat nemo optio delectus illum quas, a reiciendis, repellendus perferendis! Impedit, recusandae? Maxime, distinctio.</p>
        </div>
    </main>
</body>
</html>